<section class="hero is-primary is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Loan Calculator Service for Rural Banks
            </h1>
            <form action="/start-loan-application" method="post">
                <button type="submit" class="button is-large is-info is-outlined">
                    Get Started
                </button>
            </form>
        </div>
    </div>
</section>